*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 25px;
    min-height: 100vh;
    background-color: #000;
    display: grid;
    place-content: center;
    color: #fff;
}